html
  font-size: 16px
  &.ovf-hidden
    overflow: hidden
    body
      overflow: hidden
body
  font-family: 'Lato', Calibri, Arial, sans-serif
  background-color: $color-bg
  font-weight: 400
  -webkit-font-smoothing: antialiased   

  background-size: 100% 100%
  background-repeat: repeat
  min-height: 100vh;

a
  color: $color-link
  text-decoration: none
  &:hover, &:focus
    text-decoration: none
    color: $color-accent

p,h1,h2,h3
  margin: auto
ul
  padding: 0
  li
    list-style: none

.wrapper
  display: flex
  min-height: 100vh
  flex-direction: column
  .main
    display: flex
    flex: 1

.header
  width: 100%
  height: 60px
  background-color: #fff
  box-shadow: 0 0 30px rgba(0,0,0,.15)
  position: relative
  z-index: 10
  .logo
    height: 60px
    display: inline-flex
    align-items: center
    float left
    &-txt
      font-size: 1.125rem
      font-weight: bold
  &-links
    float right
    display: inline-flex;
    align-items: center;
    height: 60px;
    a
      margin-left 15px

.clr {
  clear: both;
  padding: 0;
  height: 0;
  margin: 0;
}
.v-center{
  position:relative;
  top:50%;
  transform:translateY(-50%);
}
.h-center{
  position:relative;
  left:50%;
  transform:translateX(-50%);
}

.fullscreen
  .background
    fullscreen(0)

.ani
  visibility: hidden

.btn
  display: inline-flex
  margin-bottom: 0
  justify-content: center
  align-items: center
  -ms-touch-action: manipulation
  touch-action: manipulation
  cursor: pointer
  background-image: none
  border: 1px solid transparent
  white-space: nowrap
  user-select: none
  font-size: 14px
  font-weight: 400
  text-transform: uppercase
  padding: 0.5rem 1rem
  border-radius: 0
  text-decoration: none
  transition: all .3s ease-in-out
  &:focus,
  &.focus,
  &:active:focus,
  &:active.focus,
  &.active:focus,
  &.active.focus
    outline: thin dotted
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px
  &:hover,
  &:focus,
  &.focus
    color: $color-btn-text-active
    text-decoration: none
  &:active,
  &.active
    outline: 0
    background-image: none
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125)
  &--owhite
    border: 1px solid $color-btn-text
    color: $color-btn-text
    background: 0 0
    transition: all .3s ease-in-out
    &:hover
      color: $color-btn-text
      background: $color-btn-bg-lite
      border: 1px solid $color-btn-bg-lite
  &--black
    background: $color-btn-bg
    color: $color-btn-text
    border: 1px solid $color-btn-bg
    transition: all .3s ease-in-out
    &:hover
      border: 1px solid $color-btn-text
      color: $color-btn-text
      background: 0 0
  &--ogrey
    border: 1px solid $color-btn-bg
    color: $color-btn-bg
    position: relative
    transition: all .3s ease-in-out
    &:hover
      border: 1px solid $color-btn-bg-lite
      color: $color-btn-text
      background-color: $color-btn-bg-lite
  &-txt
    flex: 1
  &--licon
    .icon
      margin-right: 0.25rem
  &--ricon
    .icon
      margin-left: 0.25rem

.blockquote-em
  position: relative
  font-size: 20px
  display: inline-block
  padding: 10px 40px
  line-height: 30px
  color: $color-default
  border-left: none
  &:before, &:after
    position: absolute
    width: 30px
    height: 30px
    font-size: 60px
    line-height: 1
    color: $color-bd
  &:before
    top: 0
    left: 0
    content: "\201C"
  &:after
    top: 0
    right: 0
    content: "\201D"

svg
  max-width: 100%
  max-height: 100%

// icon
.icon
  display: inline-flex
  align-items: center
  justify-content: center
  width: 1.5rem
  height: 1.5rem
  svg
    width: 100%
    height: auto
    fill: currentColor
  &--medium
    width: 2rem
    height: 2rem
  &--xl
    width: 3rem
    height: 3rem
  &--mini
    width: 1.125rem
    height: 1.125rem

// link
.link
  display: inline-flex
  align-items: center
  justify-content: center
  &-txt
    flex: 1
  &-icon
    margin-left: 0.5rem;
