$sl-color-default := #8b8b8b
$sl-color-strong := #ffffff

.slideshow
    .sl-slider-wrapper
        position: absolute
        width: 100%
        height: 100%
        top: 0
        left: 0
    a
        color: $sl-color-default
        padding: 2px 0 3px
        border-bottom: 1px dotted darken($sl-color-default, 50%)

/* Custom navigation arrows */
.nav-arrows
    span
        position: absolute
        z-index: 2000
        top: 50%
        width: 40px
        height: 40px
        overflow:hidden
        border: 6px solid rgba(150,150,150,0.2)
        text-indent: -90000px
        margin-top: -40px
        cursor: pointer
        transform: rotate(45deg)
        &:hover
            border-color: rgba(150,150,150,0.3)
        &.nav-arrow-prev
            left: 5%
            border-right: none
            border-top: none
        &.nav-arrow-next
            right: 5%
            border-left: none
            border-bottom: none
    +tablet-down()
        display: none

.touch .nav-arrows
    display:none

/* Custom navigation dots */

.nav-dots
    text-align: center
    position: absolute
    bottom: 0
    height: 2px
    width: 100%
    left: 0
    z-index: 1000
    display: flex
    -webkit-box-orient:horizontal /* fix bugs on MiuiBrowser 1.0 || AppleWebkit 534.30 */
    span
        flex:1
        box-flex:1
        position: relative
        height: 2px
        background: rgba(150,150,150,0.6)
        width:100% /* we need this fix bugs on mobile browsers */
        cursor: pointer
        box-shadow: 0 1px 1px rgba(255,255,255,0.4), inset 0 1px 1px rgba(0,0,0,0.1)
        &.nav-dot-current
            background: rgba(255,255,255,0.8)
            box-shadow:none

/* Content elements */
.c-flex {
    display: flex;
    /* Then we define the flow direction and if we allow the items to wrap
    * Remember this is the same as:
    * flex-direction: row;
    * flex-wrap: wrap;
    */
    flex-flow: row wrap;

    /* Then we define how is distributed the remaining space */
    justify-content: center;

    align-items:center;

    /* fix bugs on MiuiBrowser 1.0 || AppleWebkit 534.30 */
    -webkit-box-orient:horizontal; /* rel to flex-direction  */
    -webkit-box-lines:multiple;  /* rel to flex-wrap */
    -webkit-box-align:center;    /* rel to align-items */
    -webkit-box-pack:center;     /* rel to justity-content  */

}
.album
    position:absolute
    z-index:11
    top:0
    left:0
    height:100%
    width:100%
    &-hd
        font-size:26px
        font-weight:normal
        text-align:center
        height:50px
        line-height:50px
        color:#fff
        text-transform:uppercase
        display: none
    &-bd
        position:absolute
        z-index:11
        top: 10%
        left:0
        width:100%
        background:#fff
        height: 80%
    &-grid
        height:16.6666666666%
        width:100%
        padding:5px 10px
        position:relative
        overflow:hidden
        cursor: pointer
        transition: all .3s ease-out
        &:nth-child(odd)
            background:#fff
        &:nth-child(even)
            background:#eee
        &:hover
            background: #43434e
            .album-tit-bd
                color: #fff
        &-bd
            display: flex
            position:relative
            width:100%
            height:100%
            margin:0 auto
            +tablet-up()
                width: 75%
    &-item
        text-align:center
        position:relative
        height: 94%
        max-height: 94%
        top: 3%
        vhc-wrap()
        +tablet-up()
            margin-right: 15px
    &-tit
        flex: 1
        vhc-wrap(flex-end)
        +tablet-up()
            height: 100%
        &-bd
            color: #333
            border-color: #000
            font-size:1.2em
            font-weight:400
            text-align:right
            padding:0.1em 0.2em
            text-transform:uppercase
            margin-top: 0
            em
                font-style:normal
                color:red
            +mobile-up()
                font-size: 1.3em
            +desktop-up()
                font-size: 1.6em
                padding: 0.2em 0.3em
            +desktop-xlarge-up()
                font-size: 1.8em
        &-text
            margin-bottom: 8px
    &-author
        font-size: 88%
        color: $color-default
    &-comp
        color: $color-grey
    &-img
        vertical-align:top
        display:block
        width:auto
        height:95%
        opacity: 1
        transition: all 0.35s
        border-radius:50%
        max-width: 160px
        max-height: 160px
    &-desc
        +mobile-up()
            font-size: 1.0em
        +desktop-xlarge-up()
                font-size: 1.2em

.sl-icon
    display: block
    width: 1.5em
    height: 1.5em
    margin: 0 auto
    fill: currentColor

.ecard
    position: relative
    text-align: center
    width: 80%
    +mobile()
        width: 95%
    .deco
        position: relative
        width: 260px
        height: 260px
        margin-left: auto
        margin-right: auto
        margin-bottom: 30px
        border: 2px dashed rgba(150,150,150,0.4)
        border-radius: 50%
        line-height: 260px
        text-align: center
        text-transform: uppercase
        font-size: 2.1em
        font-weight: normal
        color: #fff
        text-shadow: 0px 0px 2px #666
        +tablet-down()
            width: 150px
            height: 150px
            line-height:150px
            font-size:1.4em
        img
            vertical-align: top
            margin-top: 25px
            width:210px
            height:210px
            border-radius:50%
            +tablet-down()
                width:110px
                height:110px
                margin-top: 20px
    [data-icon]:after
        content: attr(data-icon)
        font-family: 'AnimalsNormal'
    [data-ficon]:after
        content: attr(data-ficon)
        font-family:'fontello'
    [data-icon]:after, [data-ficon]:after
        color: #999
        text-shadow: 0 0 1px #999
        position: absolute
        width: 220px
        height: 220px
        line-height: 220px
        text-align: center
        font-size: 100px
        top: 50%
        left: 50%
        margin: -110px 0 0 -110px
        box-shadow: inset 0 0 0 10px #f7f7f7
        border-radius: 50%
        +tablet-down()
            width: 130px
            height: 130px
            line-height: 130px
            font-size: 45px
            margin: -65px 0 0 -65px
    h2
        color: $sl-color-strong
        padding: 20px
        font-size: 34px
        font-weight: 500
        letter-spacing: 12px
        text-transform: uppercase
        text-align: center
        line-height: 50px
        margin: 0
        +tablet-down()
            line-height: 22px
            font-size: 18px
            letter-spacing: 8px
    blockquote
        text-align: center
        font-weight: 400
        font-size: 16px
        line-height: 20px
        color: $sl-color-default
        z-index: 2
        margin: 10px 0 0 0
        padding: 0
        border:none
        +tablet-down()
            font-size:14px
        cite
            font-size: 16px
            padding-top: 15px
            display: inline-block
            font-style: normal
            text-transform: uppercase
            letter-spacing: 4px
            +tablet-down()
                font-size: 14px
        p, .quote-inner
            margin: 0 auto
            width: 70%
            max-width: 700px
            line-height: 1.4
            position: relative
            text-align:left
            +tablet-down()
                width: 90%
        p:before, p:after
            color: rgba(244,244,244,0.2)
            font-family: "Bookman Old Style", Bookman, Garamond, serif
            position: absolute
            line-height: 60px
            width: 75px
            height: 75px
            font-size: 200px
            z-index: 0
            left: -90px
            top: 35px
            content: '\201C'
            +tablet-down()
                line-height: 40px
                width: 40px
                height: 40px
                font-size: 60px
                left: -40px
                top: 5px
            +mobile()
                line-height: 30px
                width: 30px
                height: 30px
                font-size: 40px
                left: -20px
                top: 3px
        p:after
            left:auto
            right:-85px
            top:-70px
            transform:rotate(180deg)
            +tablet-down()
                left:auto
                right:-40px
                top:-24px
            +mobile()
                left:auto
                right: -20px
                top:-15px
    .fa-heart
        color: #db84ad
    &-light, .bg-light &
        blockquote
            p:before, p:after
                color:rgba(244,244,244,0.8) !important
        h2
            color: $color-default

/* Custom background colors for slides in first demo */

/* First Slide */
.sl-slide-1, .sl-slide-3, .sl-slide-5
    .sl-slide-inner, .sl-content-slice
        background: #fff
    .ecard
        @extend .ecard-light

/* Second Slide */
.sl-slide-2
    .sl-slide-inner, .sl-content-slice
        background: #12121e
    [data-icon]:after, h2
        color: #fff
    blockquote:before
        color: #222

/* Forth Slide */
.sl-slide-4
    .sl-slide-inner, .sl-content-slice
        background: #5bc2ce
    .deco
        border-color: #379eaa
    [data-icon]:after
        text-shadow: 0 0 1px #277d87
        color: #277d87
    h2, blockquote
        color: #fff
        text-shadow: 1px 1px 1px rgba(0,0,0,0.2)
    blockquote
        p:before, p:after
            color: rgba(255, 255, 255, .7)

/* Animations for content elements */

.sl-trans-elems
    .deco
        animation: ani-roll 1s ease-out both, fadeIn 1s ease-out both
    h2
        animation: ani-moveUp 1s ease-in-out both
    blockquote, .ani-fade
        animation: ani-fadeIn 0.5s linear 0.5s both
.sl-trans-back-elems
    .deco
        animation: ani-scaleDown 1s ease-in-out both
    h2
        animation: ani-fadeOut 1s ease-in-out both
    .ani-fade, blockquote
        animation: ani-fadeOut 1s linear both

.sl-back
    margin: 0.25em
    position: absolute
    top: 0
    left: 50%
    z-index: 100
    transform: translateX(-50%)
    a
        border-bottom: none
        color: #ffeb3b
        line-height: normal
        padding: 0.25em
        margin: 0.25em .5em
        opacity: 0.5
        &:hover
            opacity: 1
    &:after
        content: ''
        position: absolute
        top: 10%
        left: 50%
        width: 1px
        height: 80%
        opacity: 0.2
        background: #ffeb3b
        transform: rotate3d(0, 0, 1, 22.5deg)
    &-btn
        outline: none
        text-align: center
        display: inline-block
    &-ico
        display: block
        width: 1.6em
        height: 1.6em

@keyframes ani-roll {
    0% {transform: translateX(500px) rotate(360deg); opacity: 0;}
    100% {transform: translateX(0px) rotate(0deg); opacity: 1;}
}
@keyframes ani-moveUp {
    0% {transform: translateY(40px);}
    100% {transform: translateY(0px);}
}
@keyframes ani-fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}
@keyframes ani-scaleDown {
    0% {transform: scale(1);}
    100% {transform: scale(0.5);}
}
@keyframes ani-fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
}
