.sl-slider-wrapper
    width: 800px
    height: 400px
    margin: 0 auto
    position: relative
    overflow: hidden

.sl-slider
    position: absolute
    top: 0
    left: 0

/* Slide wrapper and slides */

.sl-slide, .sl-slides-wrapper, .sl-slide-inner
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0

.sl-slide
    z-index: 1
    display: none

/* The duplicate parts/slices */

.sl-content-slice
    overflow: hidden
    position: absolute
    box-sizing: content-box
    background: #fff
    backface-visibility: hidden
    opacity : 1

/* Horizontal slice */

.sl-slide-horizontal 
    .sl-content-slice
        width: 100%
        height: 50%
        left: -200px
        transform: translateY(0%) scale(1)
        &:first-child
            top: -200px
            padding: 200px 200px 0px 200px
        &:nth-child(2)
            top: 50%
            padding: 0px 200px 200px 200px

/* Vertical slice */

.sl-slide-vertical
    .sl-content-slice
        width: 50%
        height: 100%
        top: -200px
        transform: translateX(0%) scale(1)
        &:first-child
            left: -200px
            padding: 200px 0px 200px 200px
        &:nth-child(2)
            left: 50%
            padding: 200px 200px 200px 0px

/* Content wrapper */
/* Width and height is set dynamically */
.sl-content-wrapper
    position: absolute

.sl-content
    width: 100%
    height: 100%
    background: #fff

.sl-slide-inner
    vhc-wrap()

/* Default styles for background colors */
.sl-slide-horizontal
    .sl-slide-inner
        background: #23232e
.sl-slide-vertical
    .sl-slider-inner
        background: #ffffff