// Colors
$color-default: #666;
$color-accent: #2ebaae;
$color-grey: #999;
$color-highlight: #F6BF26;
$color-header: #000;
$color-header-sub: #a5a6a6;
$color-link: #121212;
$color-bg: #fff;
$color-bg-primary: #0f73ee;
$color-bg-orange: #e4861f;
$color-red: #dd4b39;
$color-theme: #0f73ee;
$color-btn-bg: #000000;
$color-btn-bg-lite: #121212;
$color-btn-text: #fff;
$color-btn-text-active: #ffffff;
$color-btn-bghover: #232323;
// Fonts
$font-size: 16px;
