@import "../_base/variables"
@import "post"

.page-index
  background: $color-bg-primary

.index-banner
  background: $color-bg-primary
  color: #fff
  position: relative
  padding: 3rem 1.5rem

  +tablet-down()
    font-size: 0.844rem
    line-height: 1.69rem

.newbook
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  &-metas
    width: 40rem
  &-title
    margin-bottom: 0.5rem

  &-actions
    margin-top: 1rem
    .btn
      margin-right: 0.5rem
      &:last-child
        margin-right: 0
  &-link
    display: block
    transition: all 0.3s ease
    &:hover
      box-shadow: 0 0 30px rgba(0, 0, 0, .15)
  &-cover
    margin-top: 1.25rem
    width: 40rem
    position: relative
  &-pic
    width: 100%
  .icon-crown
    position: absolute
    top: -1.5rem
    right: -1.5rem
    color: $color-highlight
    .ipath-1
      fill: $color-red

.qrCode
  position: absolute
  right: 5%
  top: 25%
  +tablet-down()
    width: 35%
    padding-top: 8%
    position: static
    img
      width: 100%
