.mpost {
  border-radius: 3px;
  display: block;
  height: 100%;
  padding: 1.25rem 2.5rem 1.25rem 1.5rem;
  position: relative;
  background-color: #fff;
  transition: all ease .3s;
  color: $color-default;
  border: 1px solid #eee;
  &:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, .15);
  }
  img {
    width: 100%;
    height: auto;
    max-height: 100%;
  }
  .title, .subtitle, .content {
    color: currentColor;
    font-weight: normal;
  }
  &.is-warning {
    background-color: $warning;
  }
  &.is-primary {
    background-color: $primary;
    color: #fff;
  }
  &.is-info {
    background-color: $info;
    color: #fff;
  }
  &.is-danger {
    background-color: $danger;
    color: #fff;
  }
  &-his {
    .title {
      font-size: px2rem(1.5 * 16);
      &:not(:last-child) {
        margin-bottom: px2rem(16px);
      }
    }
    .subtitle {
      font-size: px2rem(16px);
      &:not(:last-child) {
        margin-bottom: px2rem(16px);
      }
    }
  }
}
